* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 15rem;
  background-color: #1f2937;
  color: #f9faf8;
}

nav {
  width: 60%;
  margin: auto;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container p {
  color: #f9faf8;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  list-style: none;
}

.hero-container {
  width: 60%;
  margin: 2rem auto;
  display: flex;
}

.hero-left {
  flex: 1;
}

.hero-left-title {
  width: 70%;
}
.hero-left-title h1 {
  color: #f9faf8;
}
.hero-left-text {
  width: 90%;
  color: #e5e7eb;
}
.hero-left-text p {
  font-size: .9rem;
}

.btn {
  margin: .5rem 0;
  all: unset;
  padding: .1rem 1rem;
  border-radius: .2rem;
  background-color: #3882f6;
}

.hero-right {
  flex: 1;
  width: 10rem;
  height: 10rem;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 {
  height: 10rem;
  width: 60%;
  margin: .5rem auto;
}
.section1-title {
  display: flex;
  justify-content: center;
  font-size: .7rem;
}
.section1-title h2 {
  color: #1f2937;
  font-weight: 900;
}

.cards {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  height: 7rem;

}
.card {
  width: 5rem;
  
}

.card-box {
  width: 4rem;
  height: 4rem;
  border: .1rem solid rgba(0, 0, 255, 0.441);
  border-radius: .5rem;
}

.card p {
  width: 3.5rem;
  font-size: .4rem;
  text-align: center;
}

.section2 {
  width: 100%;
  margin: .5rem auto;

  background-color: #e5e7eb;
  height: 10rem;
  display: flex;
  align-items: center;
}
.section2 > div {
  width: 40%;
  margin: .5rem auto;
  
}
.quote-container {
  width: 80%;
}
.quote-container p {
  font-style: italic;
}
.author-container {
  display: flex;
  justify-content: end;
}

.author-container p {
  font-weight: bold;
}